/* style for weather app */
body {
height: 100%;
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
font-size: 3em;
background: #999;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

section {
min-height: 100%;
}

h1 {
font-size: 3em;
padding: 0 0.3em;
line-height: 1em;
}

p {
padding: 0 1em;
}

a {
color: #fff;
}

footer {
position: absolute;
}

#temp {
text-decoration: none;
border-bottom: 0.01em dotted white;
}

#local:hover {
text-decoration: none;
}

#zip {
}